html, body {
	height: 100vh;
	/*overflow: hidden;*/
}
.map-btn {
	text-align: center;
	margin-top: 6%;
}

#tabbing {
	position: absolute;
	width: 30%;
	right: 0;
	z-index: 1000;
}

.btn {
	background-color: #006CA0;
	margin-top: 10px;
}
.btn:hover {
	background-color: #1abbff;
}
.btn:active {
	background-color: #1abbff;
}
.btn:focus {
	background-color: #1abbff;
}

.tabs .indicator {
	background-color: #d87f13;
}
.tabs .tab a {
	color: #d87f13;
	background-color: white;

}
.tabs .tab a:hover {
	color: black;
}

.map-container {
	width: 90%;
	text-align: center
}

.map-image {
	width: 100%;
	border: 50px;
}

.map-title {
	color: black;
	position: relative;
	margin-bottom: -4.5%;
	margin-top: 3%;
}
.map-descr {
	color: black;
    text-align: left;
    width: 80%;
    margin: auto;
    margin-top: -5%;
    font-size: 1.33rem;	
    padding-bottom: 8%;
}

.main-info {
	width: 100vh;
	height: 100vh;
	background-color: white;
}

.row .col.s12 {
	padding: 0;
}

.main-info {
	color: white;
}

.intro-text {
	position: absolute;
	margin-top: 33%;
	width: 100%;
}

.intro-text h1 {
	text-align: center;
}

#intro {

/*	background-image: url('images/Amanda_Better2.png');
	background-size: cover;*/
	/*opacity: 0.8;*/
    /*filter: alpha(opacity=40);*/
}

.intro-image { 
	position: absolute;
	width: 100%;
}
#intro-img {
	width: 100%;
}
#main-page-intro {
    color: #333;
    text-align: left;
    margin: auto;
    padding-top: 1%;
    margin-left: 13%;
    margin-right: 7%;
    font-size: 1.45rem;
}
.map-page-title {
	color: black;
    text-align: center;
    margin: auto;
    padding-bottom: 6%;
    margin-top: -10.2%;
}
.data-title {
	color: black;
	text-align: center;
	margin: auto;
	margin-top: 0.9%;
}
#data-page-text {
	color: black;
    width: 73%;
    margin: auto;
    text-align: left;
    margin-top: 5%;	
    font-size: 1.33rem;	
}
.data-strong-title {
	font-size: 1.6rem;
}

#upwater-img {
	padding-top: 2.5%;
	width: 100%;
}
.upwater {
	position: absolute;
	z-index: 1;
	padding-top: 1.5%;
	padding-left: 1.5%;
}
.main-page-title {
	text-align: center;
	font-weight: 500;
}
#main-page-title-sub {
	/*background-color: #E6C28C;*/
	color: white;
	/*font-size: 2.0rem;*/
}